<div class="project-dashboard-container">
    <!--<div class="col-md-12 project-dashboard-title">
        <h3> PROJECTS DASHBOARD </h3>
    </div>-->
    <div class="col-md-12">
        <div class="project-list-container">
            <pt-projects-list></pt-projects-list>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 projects-container">
        <div class="col-md-8 col-sm-8">
            <pt-task-summary-list></pt-task-summary-list>
        </div>

        <div class="col-md-4">
            <pt-user-tasks-status></pt-user-tasks-status>
        </div>
    </div>
</div>