<div class="col-md-4 project-item-container">
    <div class="project-name">
        <span><a [routerLink]="['/tasks-home', projectList.project_id]">
            {{projectList.project_name}}
        </a></span>
    </div>
    <div class="project-description">
          <span>
              {{projectList.project_description}}
          </span>
    </div>
    <div>
          <span class="glyphicon-container">
              <a [routerLink]="['/project-members', projectList.project_id]"><i class="custom-glyphicon glyphicon glyphicon-user"></i>
              {{projectList.project_member_details.length}}
              </a>
          </span>
          <span class="glyphicon-container">
              <i class="custom-glyphicon glyphicon glyphicon-star"></i> {{projectList.featureCount}}
          </span>
          <span class="glyphicon-container">
              <i class="custom-glyphicon glyphicon glyphicon-tasks"></i> {{projectList.bugCount}}
          </span>
          <span class="glyphicon-container">
              <a [routerLink]="['/project-settings', projectList.project_id]"><i class="custom-glyphicon glyphicon glyphicon-cog"></i></a>
          </span>
          <span class="glyphicon-container" (click)="deleteProject(projectList.project_id)">
              <i class="custom-glyphicon glyphicon glyphicon-trash"></i>
          </span>
    </div>
</div>