<div class="row">
  <div class="register-section">
    <div class="registration-form-section">
      <form #registrationForm="ngForm" (ngSubmit)="userRegistration(registrationForm.value)">
        <div class="section-title reg-header animated fadeInDown" data-animation="fadeInDown">
          <h3>Get your Account Here </h3>
          <h1>{{message}}</h1>
        </div>
        <div class="clearfix">
          <div class="col-sm-6 registration-left-section animated fadeInUp" data-animation="fadeInUp">
            <div class="reg-content">
              <div class="textbox-wrap">
                <div class="input-group">
                  <span class="input-group-addon "><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" id="firstName" ngControl="firstName" class="form-control " placeholder="FirstName" required="required">
                </div>
              </div>
              <div class="textbox-wrap">
                <div class="input-group">
                  <span class="input-group-addon "><i class="glyphicon glyphicon-user"></i></span>
                  <input type="text" id="lastName" ngControl="lastName" class="form-control " placeholder="LastName" required="required">
                </div>
              </div>
              <div class="textbox-wrap">
                <div class="input-group">
                  <span class="input-group-addon "><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="email" id="email" ngControl="email" class="form-control " placeholder="Email Id" required="required">
                </div>
              </div>


            </div>
          </div>
          <div class="col-sm-6 registration-right-section animated fadeInUp" data-animation="fadeInUp">
            <div class="reg-content">
              <div class="textbox-wrap">
                <div class="input-group">
                  <span class="input-group-addon "><i class="glyphicon glyphicon-user"></i></span>
                  <input type="number" id="phoneNumber" ngControl="phoneNumber" class="form-control " placeholder="Phone Number" required="required">
                </div>
              </div>
              <div class="textbox-wrap">
                <div class="input-group">
                  <span class="input-group-addon "><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" id="password" ngControl="password" class="form-control " placeholder="Password" required="required">
                </div>
              </div>
              <div class="textbox-wrap">
                <div class="input-group">
                  <span class="input-group-addon "><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" id="confirmPassword" ngControl="confirmPassword" class="form-control " placeholder="Confirm-Password" required="required">
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="registration-form-action clearfix animated fadeInUp" data-animation="fadeInUp" data-animation-delay=".15s" style="animation-delay: 0.15s;">
          <a href="#demo1" class="btn btn-success pull-left blue-btn ">
            <i class="glyphicon glyphicon-chevron-left"></i>&nbsp; &nbsp;Back To Login
          </a>
          <button type="submit" class="btn btn-success pull-right green-btn">Register Now &nbsp; <i class="glyphicon glyphicon-chevron-right"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
