<div class="row login-box">
    <div class="main">
        <div class="login-container">
            <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
                <div class="section-title">
                    <h3>LogIn to your Account</h3>
                </div>
                <div class="input-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="glyphicon glyphicon-user"></i></span>
                        <input type="email" name="email" [ngModel]="userObj.email" required="required" class="form-control" placeholder="Email Id">
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" [ngModel]="userObj.password"  required="required" class="form-control " placeholder="Password">
                    </div>
                </div>
                <div class="login-form-action clearfix">
                    <div class="checkbox pull-left">
                        <div class="custom-checkbox">
                            <div class="checkbox_square-blue checked"><input type="checkbox" checked="" name="iCheck"></div>
                        </div>
                        <span class="checkbox-text pull-left">&nbsp;Remember Me</span>
                    </div>
                    <button type="submit" class="btn btn-success pull-right green-btn">LogIn &nbsp; <i class="glyphicon glyphicon-chevron-right"></i></button>
                </div>
            </form>
        </div>
        <div class="login-form-links register-box link1  animated fadeInLeftBig" data-animation="fadeInLeftBig" data-animation-delay=".2s" style="animation-delay: 0.2s;">
            <h4 class="blue">Don't have an Account?</h4>
            <span>No worry</span>
            <a routerLink="/register" class="blue">Click Here</a>
            <span>to Register</span>
        </div>
        <div class="login-form-links forgot-password-box link2  animated fadeInRightBig" data-animation="fadeInRightBig" data-animation-delay=".4s" style="animation-delay: 0.4s;">
            <h4 class="green">Forget your Password?</h4>
            <span>Dont worry</span>
            <a routerLink="/forgot-password" class="green">Click Here</a>
            <span>to Get New One</span>
        </div>
    </div>
</div>
